<div class="row ">
    <div class="col-12 card p-3  shadow">
        <div class="row"  >
            <Table class="table table-hover table-bordered table-striped table-sm table-strip ">
                <thead class="thead-dark" >
                  <th>SN</th>
                    <th>Email</th>
                  <th>NAME</th>
                  <th>ACTION</th>
                  </thead>
                  <Tbody  >
                    <TR *ngFor="let i=index; let myStudent of studenttodo" [style.color]="studenttodo.completed ? 'green':'red'">
                        <td>{{myStudent.id}}</td>
                      <Td (click)="viewdetails(myStudent.id)" >{{myStudent.email}}</Td>
                      <Td (click)="viewdetails(myStudent.id)">{{myStudent.name}}</Td>
                      <Td ><button  class="my-2 btn btn-sm btn-primary" (click)="delstud(myStudent.id)" >delete</button>
                        <button  class="my-2 btn btn-sm btn-dark" (click)="editstud(myStudent.id)" >edit</button>
                        <button  class="my-2 btn btn-sm btn-dark" (click)="viewdetails(myStudent.id)" >View</button></Td>
                        
                    </TR>
                  </Tbody >
              
            
            </Table>
             
        </div>
        <div class="row">
            <!-- <div class="col-9">
                <input class="form-control" type="number" placeholder="enter your matric number" [(ngModel)]="matNO">
                <input class="form-control" type="text" placeholder="enter your full name" [(ngModel)]="name">
                <input class="form-control" type="text" placeholder="enter your department" [(ngModel)]="dept">
                <input class="form-control" type="number" placeholder="enter your valid phone number" [(ngModel)]="num">
                <input class="form-control" type="email" placeholder="enter your email" [(ngModel)]="email">
            </div>
            <div class="col-2">
                <button class="btn btn-danger" (click)="addStudent()">Save</button>
            </div> -->
        </div>
    </div>
    
    
</div>