<Table class="table table-hover tab table-bordered table-striped table-bg table-strip ">
    <thead class="thead-dark" >
      <th>S/N</th>
      <th>Matric NO</th>
      <th>NAME</th>
      <th>DEPARTMENT</th>
      <th>Phone Number</th>
      <th>Date&Time Created</th>
      </thead>
      <Tbody>
        <TR>
          <Td>{{1}}</Td>
          <Td>{{Student.matNO}}</Td>
          <Td>{{Student.studentName}}</Td>
          <Td>{{Student.studentDept}}</Td>
          <td>{{Student.studentNum}}</td>
          <td>Created on {{Student.date}} at {{Student.time}}</td>
          </TR>
          </Tbody>
</Table>
        